.App {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.App h1 {
  text-align: center;
}

.App ul {
  margin: 0 0 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  gap: 10px;
}

.App ul li {
  padding: 3px 0;
}

.App .list-name {
  margin: 0;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.App .list-name.expanded {
  margin-bottom: 10px;
}

.App .list-name > span {
  display: flex;
  gap: 5px;
  align-items: center;
}

.App .list-name > span > strong {
  cursor: pointer;
}

.App .list-name.completed > span {
  text-decoration: line-through;
}

.App h3 .icon-remove-list,
.App h3 .icon-expand-list {
  cursor: pointer;
}

.App ul ul {
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.App ul ul li {
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
}

.App ul ul li.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* .App ul ul li.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-grow: 1;
  max-width: 50%;
} */

.App ul ul li.list-item p {
  margin: 0;
}

.App ul ul li.edit-list {
  border: none;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 4px 5px;
}

.completed {
  opacity: 0.3;
  text-decoration: line-through;
}

#form-add-list {
  display: flex;
  margin: 0 auto 20px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#icon-add-list {
  cursor: pointer;
  margin-left: 10px;
}

#form-add-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#form-add-item input[type="text"] {
  min-width: 240px;
  min-height: 20px;
  padding: 1px 10px;
}

#form-add-item button {
  padding: 3px 6px;
}
